---
import { HOMEPAGE_URL ,TAKUYA_HOMEPAGE} from "../config";

const today = new Date();
---

<footer class = "text-zinc-500 p-4 text-center">
	&copy; {today.getFullYear()} <a href= {HOMEPAGE_URL}>Rafael Ribeiro</a> and <a href= {TAKUYA_HOMEPAGE}>Takuya Matsuyama</a>. All rights reserved.
</footer>
